
@font-face {
    font-family: Moderne Sans;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2);
}
  * {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background: #000;
    background-size: cover;
}
:root {
    --primaryC: #fed330;
    --primaryD: #DD5353;
    --primaryA: #f7f7f7;
    --size: calc(1vh + 1vw);
}
/* ================Alert-Modal-Window===================> */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
#modal-content {
    position: fixed;
    top: 50%;
    left: 5%;
    background: rgba(230, 190, 138, 0.6);
    margin: 15px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    width: 80%;
}
#close {
    color: #f7f7f7;
    float: right;
    font-size: 35px;
    font-weight: bold;
}
.modalText {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-size: clamp(22px, calc(var(--size)*1.7), 44px);
    font-weight: 400;
    color: #f7f7f7;
}
/* =====================================================< */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(34,35,46,0.75) 40%, rgba(0,0,0,0));
    background-image: linear-gradient(to bottom, rgba(34,35,46,0.35) 50%, rgba(34,35,46));
    z-index: 5;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

div#fashion {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
    color: #f7f7f7;
    transition: all .4s ease-in-out;
    z-index: 25;
}

.headerActiveScroll {
    background: rgba(0, 0, 0, 0.9);
}



.slider-btns {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    z-index: 100;
}
.slide-btn {
    width: 10px;
    height: 10px;
    background: #e0ffff;
    border-radius: 50%;
    cursor: pointer;
}
.slide-btn.active {
    /* background: #00c2cb; */
    background: orange;
}
.slide-btn:not(:last-child){
    margin-right: 20px;
}
.slide-btn:hover {
    transform: scale(1.3);
}
/* ========Video-Transition-Effect===========> */
.video-bg {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-bg.active {
    clip-path: circle(150% at 0 50%);
    transition: 1s ease;
    transition-property: clip-path;
}
/* ==========================================> */

.foxBox {
    position: absolute;
    bottom: 7%;
    z-index: 5;
    mix-blend-mode: overlay;
}


header:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
}

header:hover h1 span {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.navTitle {
    /* font-family: Moderne Sans, sans-serif; */
    font-family: 'Cinzel', serif;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: 0.5rem;
    z-index: 10;
}

.navTitle span {
    display: inline-block;
    padding: 15px;
    border-radius: 35%;
    border-top: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    border-right: transparent;
    border-left: transparent;
    transition: all .4s ease-in-out;
}

/* ===============DeskTop-Navbar==============> */
#deskTopNav {
    padding-bottom: 20px;
    position: sticky;
    top: 0;
}

#deskTopNav a {
    font-family: 'Allura', cursive;
    font-size: clamp(22px, calc(var(--size)*1.7), 36px);
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}
#deskTopNav a.active {
    color: #AB2A2A;
}


/* ====================Mobile-Navbar=================> */
/* =================Display-Mobile-Navbar================= */
#mobileNav {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.nav-item a {
    font-family: 'Cinzel', serif;
    font-size: 6vmin;
    font-weight: 400;
}
#navbarBtn {
    outline: none;
    border: none;
}
#navbarBtn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.closeNav {
    display: none;
}
.passiveNavBtn {
    display: none;
}
.activeNavBtn {
    display: block;
}
.fa-navicon,
.fa-remove {
    background: #f7f7f7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.myNavBrand {
    font-family: 'Allura', cursive;
    font-size: 10vmin;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.5;
    color: #AB2A2A;
}
.myNavBrand span {
    display: inline-block;
    border-top: 3px solid #f7f7f7;
    border-bottom: 3px solid #f7f7f7;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    transform: translateY(6px);
}
/* =================================================================== */
/* ==================================================< */

.headerTitle {
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    font-size: 8vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #f7f7f7;
    font-weight: 100;
    z-index: 10;
}
.headerText {
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    font-size: 6vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #f7f7f7;
    font-weight: 100;
    z-index: 10;
}

/* ===================About-Section==============> */
#aboutSection {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("https://cdn.glitch.global/5aca9a9f-37bc-4310-9cc1-fc8f32e92c4f/aboutBG1.jpg?v=1669699985920");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.overlayTwo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(34,35,46,0.35) 40%, rgba(0,0,0,0));
    background-image: linear-gradient(to bottom, rgba(34,35,46,0.25) 50%, rgba(34,35,46));
    z-index: 5;
}

.aboutContainer {
    background: rgba(0, 0, 0, 0.7);
    outline-offset: -10px;
    outline: 1px solid #f7f7f7;
}
.aboutTitle {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Dancing Script', cursive;
    font-size: clamp(38px, calc(var(--size)*1.7), 64px);
    font-weight: 700;
    letter-spacing: 2px;
    color: #e8acac;
    z-index: 30;
    text-align: center;
    transform: rotate(-5deg);
}
.aboutTitle span {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #e8acac;
}
.banner-image {
    border: 1px solid #f7f7f7;
    outline-offset: -10px;
    outline: 1px solid #f7f7f7;
    transform: rotate(-5deg);
}
.aboutText {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
    text-indent: 20px;
    letter-spacing: 1px;
}
.aboutText::first-letter {
    font-size: 30px;
    font-weight: 400;
}
.team {
    font-family: 'Allura', cursive;
    font-size: 25px;
    color: #f7f7f7;
    text-align: right;
    transform: rotate(-5deg);
}
.team span {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid #f7f7f7;
}

.pesonImage {
    border: 1px solid #f7f7f7;
    outline-offset: 3px;
    outline: 1px solid orange;
}
.personName {
    font-family: 'Dancing Script', cursive;
    font-size: clamp(32px, calc(var(--size)*1.7), 44px);
    font-weight: 400;
    color: #e8acac;
    transform: rotate(-5deg);
}
.personName span {
    display: inline-block;
    border-bottom: 2px solid #e8acac;
}
.personText {
    font-family: 'Dancing Script', cursive;
    font-size: clamp(24px, calc(var(--size)*1.2), 28px);
    font-weight: 200;
    color: #f7f7f7;
}

/* ==============What-We-Do-and-Pricing-Section===================> */
#whatWeDoSection {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("https://cdn.glitch.global/5aca9a9f-37bc-4310-9cc1-fc8f32e92c4f/wwdBG1.jpg?v=1669700038936");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wwdTitle {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: clamp(38px, calc(var(--size)*1.7), 64px);
    font-weight: 700;
    letter-spacing: 2px;
    color: #e8acac;
    z-index: 30;
    text-align: center;
    transform: rotate(-5deg);
}
.wwdTitle span {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #e8acac;
}
.wwdText {
    font-family: 'Allura', cursive;
    font-family: 'Courgette', cursive;
    /* font-size: 6vmin; */
    font-weight: 400;
    color: #f7f7f7;
    z-index: 30;
    text-align: center;
    transform: rotate(-5deg);

    /* min-width: 240px;
    width: 44vw;
    text-align: center; */
    font-size: clamp(28px, calc(var(--size)*1.3), 34px);
}

#cardMain {
    border-radius: 0;
    border: none;
    transition: all .3s ease-in-out;
}
#cardMain:hover {
    scale: 1.05;
}
.card-body {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    outline-offset: -8px;
    outline: 1px solid #e8acac;
}

.cardTitle {
    text-align: center;
    font-family: 'Allura', cursive;
    font-size: clamp(35px, calc(var(--size)*1.7), 48px);
    font-weight: 500;
    color: #f7f7f7;
    transform: rotate(-3deg);
}
.cardTitle span {
    display: inline-block;
    border-bottom: 1px solid #f7f7f7;
}

.cardList {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #f7f7f7;
    transform: rotate(-3deg);
}
.cardList li {
    padding: 5px 0px;
}
.cardList li::first-letter {
    font-size: 20px;
    font-weight: 400;
    color: #e8acac;
}
.card-text::first-letter {
    font-family: 'Cinzel', serif;
    font-size: 25px;
    font-weight: 600;
}
#cardBtn {
    border: 1px solid #f7f7f7;
    outline-offset: -5px;
    outline: 1px solid #e8acac;
    padding: 5px 10px;
    border-radius: 0;
    background: transparent;
    font-family: 'Cinzel', serif;
    font-family: 'Dancing Script', cursive;
    font-size: clamp(28px, calc(var(--size)*1.2), 36px);
    color: #e8acac;
    transform: rotate(-3deg);
    transition: all .2s ease-in-out;
}
#cardBtn:hover {
    outline-offset: 5px;
    outline: 1px solid #e8acac;
    transform: translateY(-7px);
    scale: 1.075;
    /* background: rgba(255, 255, 255, 0.5); */
    background: rgba(184, 115, 51, 0.6);
    color: #f7f7f7;
    box-shadow: 0 0 5px var(--primaryC),
    0 0 2px var(--primaryD),
    0 0 6px var(--primaryD),
    0 0 9px var(--primaryD);
}


.price {
    color: #52616b;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    /* align-self: center; */
    text-align: right;
    transform: rotate(-5deg);
}
del {
    padding: 5px 10px;
    background-color: #e8acac;
    outline-offset: -5px;
    outline: 2px solid #AB2A2A;
}
ins {
    text-decoration: none;
    display: inline-block;
    transform: rotate(-45deg);
    padding-left: 5px;
}


/* ==============Go-Up-Btn==============================> */
.go_up_btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    background: transparent;
    border: 2px solid rgba(103, 98, 98, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    scale: 0;
    transform: translateY(80px);
    transition: all .2s ease-in-out;
    z-index: 100;
}
.go_up_btn:hover {
    box-shadow: 0 0 5px var(--primaryC),
    0 0 2px var(--primaryD),
    0 0 6px var(--primaryD),
    0 0 9px var(--primaryD);
}
.activeGoUpBtn {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
}

#upArrow {
    font-size: 25px;
}
.arrowUp {
    transition: all .2s ease-in-out;
}
.arrowColorActive {
    color: #f7f7f7;
    transform: translateY(-7px);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    transition: all .3s ease-in-out;
}
/* ==================Price-Section================> */
#pricesSection {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("https://cdn.glitch.global/5aca9a9f-37bc-4310-9cc1-fc8f32e92c4f/priceBG2.jpg?v=1669700087807");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.orderTitle {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Cinzel', serif; */
    font-size: clamp(38px, calc(var(--size)*1.7), 54px);
    font-weight: 700;
    color: #e8acac;
    letter-spacing: 3px;
    transform: rotate(-3deg);
}
.orderTitle span {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8acac;
}
.orderText {
    list-style: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Dancing Script', cursive;
    font-size: clamp(30px, calc(var(--size)*1.2), 38px);
    font-weight: 400;
    color: #f7f7f7;
    text-indent: 20px;
    transform: rotate(-3deg);
}
.orderText li {
    padding: 5px 0px;
}
.orderFormTitle {
    /* font-family: 'Cinzel', serif;
    font-size: 3vmin;
    font-weight: 600;
    color: #f7f7f7;
    letter-spacing: 2px; */

    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 22px;
    font-weight: 600;
    font-size: clamp(22px, calc(var(--size)*1.7), 44px);
    color: #f7f7f7;
}
.orderFormTitle span {
    display: inline-block;
    padding: 10px 20px;
    /* background: rgba(0, 0, 0, 0.4); */
    /* background: rgba(218, 165, 32, 0.6); */
    background: rgba(230, 190, 138, 0.6);
    background: transparent;
    border: 1px solid #f7f7f7;
    outline-offset: -5px;
    outline: 1px solid #f7f7f7;
}

#firstName,
#lastName,
#email,
#address,
#address2,
#country,
#state,
#zip,
#cc-name,
#cc-number,
#cc-expiration,
#cc-cvv,
#quantity {
    padding: 12px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
}
#country,
#state,
#zip,
#cc-name,
#cc-number,
#cc-expiration,
#cc-cvv {
    color: #f7f7f7;
}

.optionText {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 18px);
    font-weight: 200;
    color: #f7f7f7;
}
.fullNameOnCardText {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(12px, calc(var(--size)*1.2), 16px);
    font-weight: 200;
    color: #f7f7f7;
}

.amountItemBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-3deg);
}
.quantityLabel {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #f7f7f7;
}
.cardInput {
    background: #e8acac;
    text-align: center;
    /* width: 70px;
    height: 70px; */
    /* padding: 5px; */
    font-family: 'Cinzel', serif;
    font-size: 30px;
    font-weight: 500;
    color: #52616b;
    /* border-radius: 50%; */
    border: 1px solid #f7f7f7;
}
.cardInput:focus {
    outline-offset: 5px;
    outline: 1px solid #e8acac;
}

#firstName::placeholder,
#lastName::placeholder,
#email::placeholder,
#address::placeholder,
#address2::placeholder,
#cc-name::placeholder,
#cc-number::placeholder,
#cc-expiration::placeholder,
#cc-cvv::placeholder,
#zip::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
}
#same-address {
    border-radius: 0;
    width: 25px;
    height: 25px;
}
#firstName:focus::placeholder,
#lastName:focus::placeholder,
#email:focus::placeholder,
#address:focus::placeholder,
#address2:focus::placeholder,
#cc-name:focus::placeholder,
#cc-number:focus::placeholder,
#cc-expiration:focus::placeholder,
#cc-cvv:focus::placeholder,
#zip:focus::placeholder {
    transform: translateY(-12px) translateX(15px);
    color: transparent;
    transition: all .3s ease-in-out;
}
/* ===============Checkbox-Style=============> */
.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    font-family: 'Poppins', sans-serif;
    color: #f7f7f7;
    font-weight: 200;
    padding: 0.5rem 0.25rem;
    font-size: clamp(14px, calc(var(--size)*1.2), 18px);
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    /* background-color: #41B883; */
    background-color: #F8C4B4;
    cursor: pointer;
}

.checkbox > input:checked {
    border: 1px solid #41B883;
    background-color: rgba(0, 0, 0, 0.6);
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    font-size: 25px;
    /* color: #41B883; */
    color: #f7f7f7;
    position: absolute;
    left: 0.4rem;
    top: -0.5rem;
}

.checkbox > input:active {
    border: 2px solid #34495E;
}

.paymentMetodTitle {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 22px;
    font-weight: 600;
    font-size: clamp(22px, calc(var(--size)*1.7), 44px);
    color: #f7f7f7;
}
.paymentMetodTitle span {
    display: inline-block;
    border-bottom: 1px solid #f7f7f7;
}
/* ==========================================< */
/* ============Radio-Buttons=================> */
.btn-radio {
    cursor: pointer;
    display: inline-block;
    float: left;
    -webkit-user-select: none;
    user-select: none;
}
.btn-radio:not(:first-child) {
    margin-left: 20px;
}
@media screen and (max-width: 480px) {
    .btn-radio {
        display: block;
        float: none;
    }
    .btn-radio:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }
}
.btn-radio svg {
    fill: none;
    vertical-align: middle;
}
.btn-radio svg circle {
    stroke-width: 2;
    stroke: #C8CCD4;
}
.btn-radio svg path {
    /* stroke: #008FFF; */
    /* stroke: #34495E; */
    stroke: rgba(0, 0, 0, 0.6);
}
.btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
}
.btn-radio input {
    display: none;
}
.btn-radio input:checked + svg path {
    transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
    stroke-dashoffset: 0;
}
.btn-radio span {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 400;
    color: #f7f7f7;
}
/* ==========================================< */


#credit,
#debit,
#paypal {
    font-size: 20px;
}

#formBtn {
    border-radius: 0;
    /* background: transparent; */
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #f7f7f7;
    outline-offset: -5px;
    outline: 1px solid #f7f7f7;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 22px;
    font-weight: 600;
    font-size: clamp(22px, calc(var(--size)*1.7), 34px);
    color: #f7f7f7;
    transition: all .3s ease-in-out;
    transform: rotate(-3deg);
}
#formBtn:hover {
    /* background-color: rgba(255, 255, 255, 0.6); */
    background: rgba(230, 190, 138, 0.6);
    color: #000000;
    outline-offset: 5px;
    outline: 1px solid #f7f7f7;
    transform: translateY(-5px);
    scale: 1.03;
    box-shadow: 0 0 5px var(--primaryC),
    0 0 2px var(--primaryD),
    0 0 6px var(--primaryD),
    0 0 9px var(--primaryD);
}

#cartList {
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* background: rgba(230, 190, 138, 0.6); */
    background: rgba(184, 115, 51, 0.6);
    padding: 20px;
    border-radius: 0;
}

#cartList li {
    padding: 12px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #f7f7f7;
}
.itemName,
#itemPrice,
#salesTax {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
}
.itemUnderline,
#itemPrice,
#salesTax,
.taxText,
.underlinePhilosophy {
    text-decoration: underline;
    text-decoration-color: orange;
    /* text-decoration-thickness: 0.1em; */
    text-decoration-thickness: 0.1em;
    text-underline-offset: 5px;
}
#totalPrice {
    background: rgba(230, 190, 138, 0.6);
    border: 1px solid #f7f7f7;
    outline-offset: -5px;
    outline: 1px solid #f7f7f7;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 24px);
    font-weight: 600;
    color: #f7f7f7;
}



#promoForm {
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* background: rgba(230, 190, 138, 0.6); */
    background: rgba(184, 115, 51, 0.6);
    border-radius: 0;
}
#promoInput {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 400;
    color: #f7f7f7;
    padding: 10px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #f7f7f7;
}

#promoInput::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
}
#promoInput:focus::placeholder {
    transform: translateY(-12px) translateX(15px);
    color: transparent;
    transition: all .3s ease-in-out;
}

#promoBtn {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 18px);
    color: #f7f7f7;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    border: 1px solid #f7f7f7;
    outline-offset: -5px;
    outline: 1px solid #f7f7f7;
    transition: all .2s ease-in-out;
}
#promoBtn:hover {
    background: #F8C4B4;
    color: #000000;
    outline-offset: 3px;
    box-shadow: 0 0 5px var(--primaryC),
    0 0 2px var(--primaryD),
    0 0 6px var(--primaryD),
    0 0 9px var(--primaryD);
}
#cartTitle {
    /* background: rgba(0, 0, 0, 0.4); */
    /* background: rgba(230, 190, 138, 0.6); */
    background: rgba(184, 115, 51, 0.6);
    padding: 15px 30px;
    border: 1px solid #f7f7f7;
    outline-offset: -5px;
    outline: 1px solid #f7f7f7;
}
#cartTitleText {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 22px;
    font-weight: 600;
    font-size: clamp(22px, calc(var(--size)*1.7), 32px);
    color: #f7f7f7;
}
#cartQuantity {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 26px);
    font-weight: 400;
    color: #f7f7f7;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    outline-offset: 3px;
    outline: 1px solid #f7f7f7;
}

.deviderLine {
    color: #f7f7f7;
}

/* ================Select-Box-Style============= */
.select_box{
    position: relative;
}
.select_box:after{
    position: absolute;
    top: 30%;
    right: 15px;
    content: "\f0dd";
    font-family: "FontAwesome";
    font-size: 35px;
    z-index: 98;
    background: #f7f7f7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    -webkit-animation: move 2s linear 2s infinite;
	animation: move 2s linear 2s infinite;
}

.select_box select{
    position: relative;
    z-index: 99;
}
@-webkit-keyframes move {
	15% {
		transform: translateY(2px);
	}
	30% {
		transform: translateY(-2px);
	}
	45% {
		transform: translateY(2px);
	}
	60% {
		transform: translateY(-2px);
	}
	75% {
		transform: translateY(2px);
	}
	90% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0px);
	}
}
/* ============================================= */
.mainFormBg {
    /* background: rgba(0, 0, 0, 0.6); */
    /* background: rgba(255, 255, 255, 0.6); */
    /* background: rgba(230, 190, 138, 0.6); */
    background: rgba(184, 115, 51, 0.6);
}


/* =============================== */
#reviewSection {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://cdn.glitch.global/5aca9a9f-37bc-4310-9cc1-fc8f32e92c4f/reviewBG.jpg?v=1669700174274");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.testimonialsTitle {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
    font-size: clamp(38px, calc(var(--size)*1.7), 54px);
    padding: 10px;
    font-weight: bold;
    line-height: 1.5;
    color: #f7f7f7;
    transform: rotate(-3deg);
}
.testimonialsTitle span {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #f7f7f7;
}
.customerImgBox {
    position: relative;
    border-bottom: 2px solid #f7f7f7;
}
.arrowBox {
    position: absolute;
    bottom: -11px;
    right: 0;
    width: 20px;
    height: 20px;
    border-right: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    transform: rotate(-45deg);
}
.customerPhoto {
    border: 1px solid orange;
    outline-offset: 5px;
    outline: 2px dashed orange;
    /* filter: grayscale(100%); */
}
.customerName {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    font-size: 3rem;
    padding: 10px;
    font-weight: 200;
    line-height: 1.5;
    color: #f7f7f7;
}
.customer_text {
    display: inline-block;
    padding: 10px;
    height: 6.5rem;
    font-family: 'Dancing Script', cursive;
    text-indent: 20px;
    text-align: left;
    font-weight: 200;
    font-size: clamp(28px, calc(var(--size)*1.2), 32px);
    color: #f7f7f7;
}
.customer_text::first-letter {
    font-size: 25px;
    font-weight: 500;
}
.subTitleText {
    font-family: 'Dancing Script', cursive;
    text-indent: 20px;
    text-align: center;
    font-weight: 200;
    font-size: clamp(38px, calc(var(--size)*1.7), 54px);
    color: #f7f7f7;
}

#prevBtn,
#nextBtn {
    font-family: 'Dancing Script', cursive;
    border: 1px solid #f7f7f7;
    padding: 15px 30px;
    font-size: clamp(22px, calc(var(--size)*1.2), 26px);
    font-weight: 200;
    color: #f7f7f7;
    border-radius: 0;
    transition: all .2s ease-in-out;
}
#prevBtn:hover,
#nextBtn:hover {
    outline-offset: 5px;
    outline: 1px solid #f7f7f7;
    color: #AB2A2A;
    transform: translateY(-3px);
    box-shadow: 0 0 1px var(--primaryA),
                0 0 3px var(--primaryA),
                0 0 5px var(--primaryA),
                0 0 7px var(--primaryA);
}

.starsBox {
    padding-bottom: 10px;
}
.fa-star {
    padding: 3px;
    background: orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
/* ==============Rotating-Text================ */
.rotating-text {
    /* font-family: 'Antonio', sans-serif; */
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 36px;
    color: white;
    transform: translateX(-80px) rotate(-5deg);
}
.rotating-text p {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.rotating-text p .word {
    position: absolute;
    display: flex;
    opacity: 0;
}
.rotating-text p .word .letter {
    transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
    transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
    transform: rotateX(-90deg);
}
.rotating-text span {
    display: inline-block;
    opacity: .6;
}
.alizarin {
    color: #e74c3c;
    padding-bottom: 10px;
    border-bottom: 2px solid #AB2A2A;
}
.wisteria {
    color: #8e44ad;
}
.peter-river {
    color: #3498db;
}
.emerald {
    color: #2ecc71;
}
.sun-flower {
    color: #f1c40f;
}
/* =========================================== */

/* ================Footer===================== */
/* ==============FOOTER=================================> */
.footerSection {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.glitch.global/5aca9a9f-37bc-4310-9cc1-fc8f32e92c4f/footerBG.jpg?v=1669700225686");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formTitle {
    font-family: 'Dancing Script', cursive;
    font-size: clamp(45px, calc(var(--size)*1.7), 55px);
    font-weight: bold;
    color: #f7f7f7;
}
.formThanksText {
    font-size: clamp(28px, calc(var(--size)*1.2), 34px);
    font-family: 'Dancing Script', cursive;
    font-weight: 200;
    background: orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    opacity: 0;
    scale: 0;
}
.footerTitle {
    font-family: 'Dancing Script', cursive;
    font-size: clamp(45px, calc(var(--size)*1.7), 55px);
    font-weight: bold;
    padding: 10px;
    line-height: 1.5;
    color: #f7f7f7;
}
.contactForm {
    background: rgba(184, 115, 51, 0.6);
    border: 1px solid #f7f7f7;
}
/* #contactEmail {
    padding: 10px;
} */
#contactEmail,
#contactTextArea {
    padding: 10px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
}
#contactEmail::placeholder,
#contactTextArea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
}
#contactEmail:focus::placeholder,
#contactTextArea:focus::placeholder {
    transform: translateY(-12px) translateX(15px);
    color: transparent;
    transition: all .3s ease-in-out;
}
#contactTextArea {
    overflow-x: hidden;
}



.socLinkContainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
.socLinkContainer:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    outline-offset: 4px;
    outline: 1px solid #f7f7f7;
    transform: translateY(-3px);
}
.socLinkContainer:hover .fa-instagram,
.socLinkContainer:hover .fa-facebook-official,
.socLinkContainer:hover .fa-yelp,
.socLinkContainer:hover .fa-whatsapp,
.socLinkContainer:hover .fa-map-marker,
.socLinkContainer:hover .fa-phone {
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.fa-phone,
.fa-instagram,
.fa-facebook-official,
.fa-yelp,
.fa-whatsapp,
.fa-map-marker {
    background: #f7f7f7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.footerEmail {
    font-family: 'Dancing Script', cursive;
    text-indent: 20px;
    text-align: center;
    font-weight: 200;
    font-size: clamp(22px, calc(var(--size)*1.2), 35px);
    color: #f7f7f7;
}
.footerEmail a {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 24px);
    font-weight: 300;
    color: #f7f7f7;
    text-decoration-color: #f7f7f7;
    text-decoration-thickness: 0.1em;
    text-underline-offset: var(--offset,.25em);
    transition: --offset .3s,color .2s;
}
.footerEmail a:hover {
    text-decoration-color: #AB2A2A;
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    text-underline-offset: var(--offset,.50em);
}

.footerSection img {
    filter: grayscale(50%);
}
.logoLink {
    text-decoration: none;
}
/* ============Media-Query================== */

@media all and (max-width: 820px) {
    .arrowBox {
        display: none;
    }
}

@media all and (min-width: 768px) {
    #mobileNav {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .navTitle {
        font-size: 1.2rem;
    }
    #deskTopNav a {
        font-size: 1.5rem;
    }
    .aboutTitle {
        font-size: 10vmin;
    }
    .aboutText {
        font-size: 18px;
    }
    #mobileNav {
        display: block;
    }
    #deskTopHeader {
        display: none;
    }
    .cardTitle {
        font-size: 15vmin;
    }
    .orderFormTitle {
        font-size: 6vmin;
    }
    #cartQuantity {
        font-size: clamp(28px, calc(var(--size)*1.2), 44px);
    }
    #totalPrice {
        font-size: clamp(22px, calc(var(--size)*1.2), 44px);
    }
}